<div class="container">

    <div class="sixteen columns">
        <h1>Tunr</h1>
        <h3>Welcome <%= @current_listener.username %></h3>
  
        <form action="/songs/search" method="get">
            <input type="text" name='search_term' placeholder='...search for song'>
            <input type="submit">
        </form>
    </div>

    <% @songs.each do |song| %>

        <div class="four columns">
            
            <form class="trash" action="/songs/<%= song.id %>" method="post">
                <%= token_tag %>
                <input type="hidden" name="_method" value="delete">
                <button type = 'submit'>
                    <i class='fa fa-trash-o'></i>
                </button>
            </form>
            
            <img class="songs" src="<%= song.artwork_link %>">



            <h4><%= song.title %></h4>
            <h5><%= song.artist_name %></h5>

            <audio class="audio_control" controls src="<%= song.preview_link %>"></audio>
            
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            
        </div>

    <% end %>


</div>